<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:utext="${to}"></div><p>您好！</p>
<p>这里是北京新松融通机器人科技有限公司人力资源部，很荣幸与您电话沟通交流，特邀您来我公司参加面试，现将具体情况如下：</p>
<p>1、面试时间:<span th:utext="${date}"></span></p>
<p>2、面试地址: 联想总部东区</p>
<p>请您准时参加，如因其他原因无法前来面试，请提前以邮件或电话形式告知，谢谢！</p>
<p>备注：参加面试，请携带一份简历,谢谢配合！</p>
<p>乘车路线:</p>
<p>自己百度</p>
<p>联系电话:<span th:utext="${phone}"></span></p>
<p>人力资源管理中心:<span th:utext="${from}"></span></p>
<a href="http://www.ui-tech.com.cn/ ">http://www.ui-tech.com.cn/联创瑞鑫 </a>
</body>
</html>
